<header>
    <nav class="nav-bar">
        <ul>
            <li><a class="menu-item" href="/">Αρχική</a></li>
            <li><a class="menu-item" href="/#services-sec">Υπηρεσίες</a></li>
            <li><a class="menu-item" href="/reservation">Διαθεσιμότητα</a></li>
            <li><a class="menu-item" href="/contact">Επικοινωνία</a></li>
            <li><a class="menu-item" href="/connect">Προφίλ</a></li>
        </ul>
    </nav>
</header>
